.navbar{
    background-color:#0d47a1;
}

.dropdown-menu {
    right: auto;
    left: 0;
}

h1{
    font-family: 'Courgette', cursive;
}

/* user_home card buttons */
.buttons{
    font-family: 'Neuton', serif;
}

/* user_home posts three dots */
.horizontal-three-dots{
    cursor: pointer;
    width: 19px;
    height: 14px;
    background-image: radial-gradient(circle, black 1.5px, transparent 2.0px);
    background-size: 6px 16px;
    background-color: #EEEEEE;
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #CCCCCC;
    border-bottom: 1px solid #CCCCCC;
    border-left: 1px solid #CCCCCC;
    border-radius: 0.2em;
    margin-left: 14px;
}
.horizontal-three-dots:hover{
    border: solid .2px #0198E1;
}

/* user_home posts profile pic */
.post_profile_img{
    border-radius: 100%;
    width: 60px;
    height: 55px;
   }

/* user_profile cover photo */
.card-img-cover{
    width: 1288px;
    height: 300px;
    padding-left: 0%;
    padding-right: 0%;
}

/* user_profile profile picture */
.card-img-profile-pic{
    border-radius:100%;
    position: absolute;
    width:10rem;
    height:10rem;
    top:-6rem;
    margin-left: 1rem;
}

/* user_profile friend picture */
.friend_profile_pic{
    border-radius: 100%;
    width: 6rem;
    height: 6rem;
}
/* user_profile About/Friends */
.green-card-header{
    background-color: #b9f6ca;
    font-size: 25px;
    font-style: italic;
}
/* user_profile post header */
.post-template{
    background-color: #bbdefb;
    font-size: 18px;
}
/* user_profile emergency card headers */
.emergency_card{
    background-color: #ff1744;
    color: white;
    font-style: italic;
    font-weight: 400;
    font-size: 28px;
}

/* user_select_nature grid-card */
.grid-card-font{
    font-family: 'IM Fell English SC', serif;
    font-size: 28px;
    background-color:#b3e5fc;
    text-align: center;
}

/* user_select_self_help grid-card */
.grid-card-self_help{
    font-family: 'IM Fell English SC', serif;
    font-size: 33px;
    background-color:#b2ff59;
    text-align: center;
}
/* user_coginitive_exercises about section */
.about{
    background-color:rgb(125, 60, 152 );
    /* height: 300px; */
    /* padding: 4rem 8rem; */
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    font-size: 18px;
    color: white;
}

/* user_coginitive_exercises disorders section */
.disorders{
    background-color:rgb(210, 180, 222  );
    /* height: 640px; */
    /* padding: 3rem 6rem; */


}
/* user_coginitive_exercises disorders sub section */
.ol_fontclass{
    font-family: 'Lobster', sans-serif;
    font-size: 30px;
}

/* user_coginitive_exercises disorders sub section */
.ul_fontclass{
    font-family: 'Sometype Mono', monospace;
    font-size: 18px;
}

/* user_coginitive_exercises issues overcome sub section */
.gridcard_helplines{
    background-color:rgb(125, 60, 152 );
    /* padding: 2rem 6rem; */
    /* color: white; */
}

/* user_coginitive_exercises video */
.cbt_video{
    background-color:rgb(210, 180, 222);
    padding: 2rem 4rem;
}

/* user_mindfulness_practices_intro_video */
.intro_video{
    background-color:rgb(82, 21, 21);
    padding: 2rem 4rem;
}

/* user__mindfulness_practices_flip_cards */
.flip-card {
    background-color: transparent;
    width: 330px;
    height: 330px;
    /* border: 1px solid #f1f1f1; */
    perspective: 1000px;

}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }


.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }

.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }

.flip-card-front {
    background-color: #bbb;
    color: black;
  }

.flip-card-back {
    background-color: rgb(16, 17, 17);
    color: white;
    transform: rotateY(180deg);
    text-align: center;
  }

/* user_mindfulness_practices_last_video */
.final_video{
    background-color:rgb(11, 16, 158);
    padding: 2rem 4rem;
}

.good_practices{
    background-color: rgb(211, 243, 236) ;
}

/* user_select_naturevideos */
.carousel_nature_videos{
    background-color:rgb(71, 8, 96);
    padding: 2rem 4rem;
}

/* user_select_waterfalls */
.carousel_waterfalls_videos{
    background-color:rgb(247, 220, 111);
    padding: 2rem 4rem;
}

/* user_select_garden and blossoms videos */
.carousel_garden_videos{
    background-color:rgb(222, 49, 99);
    padding: 2rem 4rem;
}

/* user_select_sky and stars videos */
.carousel_sky_videos{
    background-color:rgb(124, 18, 7);
    padding: 2rem 4rem;
}

/* user_select_seaside videos */
.carousel_seaside_videos{
    background-color:rgb(247, 205, 18);
    padding: 2rem 4rem;
}

/* user_select_forest videos */
.carousel_forest_videos{
    background-color:rgb(106, 233, 87);
    padding: 2rem 4rem;
}

/* user_select_animals videos */
.carousel_animals_videos{
    background-color:rgb(39, 6, 121);
    padding: 2rem 4rem;
}

/* user_select_lakes videos */
.carousel_lakes_videos{
    background-color:rgb(126, 20, 96);
    padding: 2rem 4rem;
}

/* user_select_music */
.playlist{
    background-color:rgb(199, 203, 244);
    padding: 2rem 2rem;
}

/* user_select_awareness_programs */
.suicide{
    background-color:rgb( 249, 231, 159);
    padding: 2rem 2rem;
}

/* user_select_awareness_programs */
.stress{
    background-color:rgb( 215, 189, 226 );
    padding: 2rem 2rem;
}

/* user_select_awareness_programs */
.depression{
    background-color:rgb(241, 148, 138);
    padding: 2rem 2rem;
}

/* user_select_awareness_programs */
.lonliness{
    background-color:rgb(130, 224, 170);
    padding: 2rem 2rem;
}



